#header h1{
    color:#3d414a;
    font-size: clamp(22px, 2.5vw, 2rem );
}
#main, #header{
    margin-right: 2.5vh;
    margin-left: 2.5vh;
    margin-top:2vh;
}
#content{
    padding:10px;
    color:#3d414a;
    text-align: justify;
    text-indent: 40px;
    font-size: clamp(16px, 1.5vw, 2rem );
}
#projects p{
    display: flex;
    font-weight: 600;
    font-size: clamp(20px, 1.5vw, 2rem );
}
#projects{
    color:#3d414a;
    margin-top: 2.5vh;
}
#projects h2{
    font-weight: 600;
    font-size: clamp(20px, 1.5vw, 2rem );
}
#projects p{
    text-indent: 15px;
    font-weight: normal;
    font-size: clamp(14px, 1.2vw, 1.5rem );
}
#language{
    display: flex;
    color:#3d414a;
    padding:5px;
    margin-left:20px;
}
#language img{
    margin-right: 15px;
    border-radius: 5px;
    line-break: normal;
}
#tags_title{
    color:#3d414a;
    font-size: clamp(20px, 1.5vw, 2rem );
    font-weight: 600;
}
#tags_content{
    padding:2px;
}
#frameworks{
    color:#3d414a;
    margin-top:2vh;
}
#frameworks h2{
    font-weight: 600;
    font-size: clamp(20px, 1.5vh, 2rem );
}
#frameworks h3{
    font-weight: 600;
    font-size: clamp(16px, 1.5vw, 2rem );
    margin-left:20px;
}
#frontend{
    margin-left:20px;
}
#frontend img{
    margin-right: 15px;
    border-radius: 5px;
}
#backend{
    margin-left: 20px;
}
#backend img{
    margin-right: 15px;
    border-radius: 5px;
}
#about_page{
    margin-bottom:5vh;
    color:#3d414a;
    margin-top: 3vh;
}
#about_page h2{
    font-size: clamp(20px, 1.5vw, 2rem );
    font-weight: 600;

}
#about_page p{
    text-indent: 15px;
    font-size: clamp(14px, 1.2vw, 1.5rem );
}
#ide{
    margin-left:20px;
}
#ide img{
    
    border-radius: 5px;
}
#softwares h2{
    color: #3d414a;
    font-weight: 600;
    font-size: clamp(20px, 1.5vh, 2rem );
}
#softwares img{
    border-radius: 5px;
    margin-left: 20px;
}