@keyframes gradient{
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
  }
#footer{
    display: flex;
    flex-direction: column;
    background: linear-gradient(-45deg,#0177ad , #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    color:#fff;
    
}

#footer p{
    padding:3px;
    margin-left: 10px;
    font-weight: 600;
    word-spacing: 1px;
    font-size: clamp(11px,16px, 18px);
}
#footer a{
    margin-left: 10px;
    margin:2px;
    font-size:14px;
    font-weight: 600;

}
#imgs img{
    border-radius: 5px;
    margin-left:15px;
}
