@keyframes gradient{
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
  }
#navbar{
    text-align: center;
    font-weight: bold;
    padding-top:20px;
    padding-bottom: 20px;
    background: linear-gradient(-45deg,#0177ad , #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    flex:1;
}
#navbar a {
    padding:20px;
    text-decoration: none;
    font-size: clamp(12px, 1.5vw, 2rem );
    transition-duration: 350ms;
    color:#fff;
}
#navbar a:hover{
    color:black;
    padding:30px;
    background-color: #fff;
}